/* ProductsPage.css */

/* Estilos para el contenedor principal */
.products__container {
    padding: 20px;
  }
  
  .title__page {
    margin-bottom: 20px;
    color: #333;
  }
  
  .cards__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Estilo para el enlace de creación de nuevo producto */
  .container__link {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn__new {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn__new:hover {
    background-color: #218838;
  }
  
  /* Estilos para las tarjetas de producto */
  .cards__product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image__product {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .name__product {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .desc__product {
    color: #666;
    margin-bottom: 10px;
  }
  
  .stock__product,
  .price__product {
    margin-bottom: 15px;
  }
  
  .btn__edit {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn__edit:hover {
    background-color: #0056b3;
  }
  